<h1>Edição de gênero cinematográfico </h1>
<%= link_to 'Home', root_path %>
<hr>
<%= form_with model: @genre do | f |%>
    <%= f.label :name, 'Gênero: ' %>
    <%= f.text_field :name %> <br/>
    <%= f.submit 'Enviar' %>
<% end %>